/* ----------- Menu bar ----------- */
#menu_bar {
	position: fixed;
	height: 100%;
	width: 150px;
	background-color: #3a3a3a;
}

#logo {
	height: 100px;
	width: 150px;
}

#menu {
	color: #B3B3B3;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 0.75em;
}

#menu ul {
	text-decoration: none;
	line-height: 45px;
}

#menu li {
	width: 150px;
	height: 45px;
	background-color: #444444;
	margin-bottom: 3px;
	list-style-type: none;
}

#menu a {
	display: block;
	text-decoration: none;
	padding-left: 10px;
	color: #949494;
	transition: all 0.2s ease 0s;
}

#menu a:hover {
	color: #eeeeee;
	background-color: #666666;
	font-size: 1.2em;
}

#menu .active a{
	color: #eeeeee;
	background-color: #666666;
}

#info {
	position: fixed;
	bottom: 0;
}

#info ul {
	display: flex;
}

#info li {
	display: inline;
}

#info img {
	width: 36px;
	height: 36px;
	margin: 7px;
	transition: margin-top 0.4s ease-out;
}

#info img:hover {
	margin-top: 1px;
}